/* Somthing else */

div.container div{
	outline:1px dashed #411;
	min-height:120px;
	
}


div.container .back{
	background-image:url("img/back.jpg");
	background-repeat:repeat-y;
	
	
		
}


div.menu{
	background-image:url("img/menu.jpeg");
	background-repeat:repeat-x;
	min-height:20px;
	margin:0px auto;
	
	
	
}

div.menu ul{
	margin:0px 40px;
	
}

div.menu li{
	float:right;
	list-style-type:none;
	margin-left:10px;
}
div.menu a{
	text-align:center;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FFFFFF;
	display:block;
	padding:10px 10px;
	direction:rtl;
	
}

div.menu a:hover{
	color:#CCCCCC;	
	
}


div.menuleft{
	background-image:url(img/menu.jpeg);
	background-repeat:repeat-x;	
}

div.img{
	margin-left:40px;
	float:left;
	display:inline;
	padding:8px 2px;	
	
}

div.imgright{
	float:right;
	margin:100px 100px;
}

div.image{
	opacity:0.8;
	filter:alpha(opacity=80);
	
	
}
/* marhale bad pic ha
div.transbox{
	width:80px;
	height:100px;
	
	background-color:#ffffff;
	border:1px solid black;
	opacity:0.9;
	filter:alpha(opacity=900);
}

div.transbox p{
	font-weight:bold;
  	color:#000000;
}


*/
div.image:hover{
	
	display:block;
	opacity:1.0;
	display:block;
	cursor:default;
	display:inherit;

}

h1{
	color:#CCCCCC;
	text-transform:capitalize;	
	text-align:center;
	font-family:"Comic Sans MS", cursive;
}

h1.atrribute{
	margin:20px;
	text-shadow:1px #FFFF00;
	margin-left:38px;
		
}

h2{
	direction:rtl;
	color:#CCCCCC;
	font-family:"Arial Black", Gadget, sans-serif;
	text-align:right;
	margin-right:40px;
	text-shadow:#666666 1px; 
		
}

h2.atrribute{
	padding:30px;
	text-shadow:1px #FFFF00;
	margin-right:48px;
	font-size:28px;	
}

h3{
	direction:rtl;
	color:#333333;
	font-family:"Arial Black", Gadget, sans-serif;
	text-align:right;
	margin-right:40px;
	padding-right:10px; 
	
}

p{
	text-align:right;
	direction:rtl;
	padding-left:10px;
	padding-right:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	
}



div.feature{
	background-image:url("img/quote.png");
	min-height:400px;
}
div.featurebg{
	background-image:url("img/featured.png");
	height:300px;
	
		
}
div.backpic{
	background-image:url("img/project-overlay.png");
	background-repeat:no-repeat;
	min-height:200px;
	width: 165px;	
}

div.backpic a:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
}

div.topfooter{
	background-image:url("img/back.jpg");
	background-repeat:no-repeat;
	height:320px;

}

p.fontfooter{
	font-family:Arial, Helvetica, sans-serif;
	direction:rtl;
	color:#FFFFFF;
	size:20px;
	text-decoration:none;
		
}

div.menufooter{
	background-image:url("img/topbg.png");
	height:100px;
	margin:0px auto;
	
	
}


div.menufooter ul{
	margin:0px 10px;

	
	
}

div.menufooter li{
	float:right;
	list-style-type:none;
	margin-right:10px;
}
div.menufooter a{
	text-align:center;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	padding:10px 5px;
	direction:rtl;

}

div.menufooter a:hover{
	color:#CCCCCC;	
	
}

p.endfooter{
	color:#CCCCCC;
	text-align:left;
	padding:0px 25px;
	font-size:16px;	
}

p.fonttext{
	font-size:18px;
	color:#333333;
	margin-top:200px;
	
		
}

div.transbox{
	width:80px;
	height:100px;
	
	background-color:#ffffff;
	border:1px solid black;
	opacity:0.9;
	filter:alpha(opacity=900);
}

div.transbox p{
	font-weight:bold;
  	color:#000000;
}

